<section class="content" >       
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="">System Configurations</li>
        <li class="active">Approve Configurations</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><span class="fa fa-user"><span class="fa fa-check-square-o"></span></span><strong> Approve Configurations</strong></h4>
                        <!-- START DATATABLE EXPORT -->
                        <div class="btn-group pull-right">
                            <ul class="panel-controls">
                                <li>
                                    <div class="dataTables_psize">
                                        <label>Page Size: <select id="psize" data-ng-options="size for size in PageSizes" data-ng-model="selectedSize" class="form-control" ng-change="setPageSize(selectedSize)">
                                            </select>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn-group">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                                        <ul class="dropdown-menu">
                                            <li><a href="" ><img alt="CSV" src='img/icons/csv.png' width="24"/> CSV</a></li>
                                            <li class="divider"></li>
                                            <li><a href=""><img alt="XLS" src='img/icons/xls.png' width="24"/> XLS</a></li>
                                            <li class="divider"></li>
                                            <li><a href=""><img alt="PDF" src='img/icons/pdf.png' width="24"/> PDF</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body"> 
                        <div id="datatable_wrapper" class="">
<!--                            <div class="form-group col-md-12" >
                                <div class="pull-right btn-group">
                                    <button type="button" class="btn btn-secondary" ng-click="viewUser({}, true)"><i class="fa fa-plus"></i>New User</button>
                                </div>
                            </div>-->
                            <form class="form-horizontal" name="searchForm">
                                <div id="cit_agent_filter" class="dataTables_filter">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-md-3 text-left">Search:</label>
                                                <div class="col-md-8">   
                                                    <input class="form-control " placeholder="keyword(s)" type="search" data-ng-model="UserFilter.keyword">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3">User Type:</label>
                                                <div class="col-md-8">   
                                                    <select data-ng-options="userType for userType in ['Bank Operator', 'Customer', 'CIT Agent']" data-ng-model="UserFilter.userType" class="form-control">
                                                        <option value="" ng-if="!userType">Select User Category</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                 <label class="col-md-4">User Status:</label>
                                                <div class="col-md-7">   
                                                    <select data-ng-options="userStatus for userStatus in ['All', 'Active', 'Inactive']" data-ng-model="UserFilter.userStatus" class="form-control">
                                                        <option value="" ng-if="!userStatus">Select Status</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="btn-group pull-right">
                                                    <button class="btn btn-default" ng-click="resetUserFilter()"><i class="fa fa-times"></i> Reset</button>
                                                    <button class="btn btn-info" ng-click="listUnapprovedUsers()"><i class="fa fa-filter"></i> Filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                      
                                </div>   
                            </form>
                            <table class="table datatable table-bordered table-condensed table-striped" col-resizeable>
                                <thead>
                                    <tr>
                                        <th class="col-centered"><input type="checkbox" ng-model="UnapprovedSysConfig.allItemsSelected" ng-change="checkAll()"/></th>
                                        <th class="sorting col-centered">No</th>
                                        <th class="sorting col-left">Entity Name</th>
                                        <th class="sorting col-left">Description</th>
                                        <th class="sorting col-left">Parameter</th>
                                        <th class="sorting">Value Type</th>
                                        <th class="sorting">Value</th>
                                        <th class="sorting">Approval Action</th>
                                            <th class="sorting">Approval Status</th>
                                        <th class="sorting">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="SysConfig in UnapprovedSysConfig track by $index">
                                        <td class="col-centered"><input type="checkbox" ng-model="SysConfig.isChecked" ng-change="checkOne()" /></td>
                                        <td>{{$index + 1}}</td>
                                        <td>{{SysConfig.entity}}</td>
                                        <td>{{SysConfig.description}}</td>
                                        <td>{{SysConfig.parameter}}</td>
                                        <td>{{SysConfig.valueType}}</td>
                                        <td>{{SysConfig.value}}</td>
                                        <td class="col-centered">{{SysConfig.action}}</td>
                                        <td class="col-centered">{{SysConfig.actionStatus}}</td>
                                        <td>
                                                <div class="btn-group pull-left">
                                                    <button class="btn btn-default btn-xs" ng-click="ShowChanges(SysConfig)"><i class="fa fa-search-plus"></i> View Changes </button>
                                                    
                                                </div>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-include src="'templates/table-footer.html'"></div>  
                            <form class="form-horizontal" name="SysConfigApprovalForm">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span class="fa fa-check-square-o"></span> Approve records</h5>
                                    </div>
                                    <div class="panel-body"> 
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label text-left"> Action:</label>
                                                    <div class="col-md-7">
                                                        <div class="col-md-4">
                                                            <label class="check"><input type="radio" class="iradio" ng-model="SysConfigApproval.action" value="approved"/> Approve</label>
                                                        </div>
                                                        <div class="col-md-4">        
                                                            <label class="check"><input type="radio" class="iradio" ng-model="SysConfigApproval.action" value="rejected"/> Reject</label>
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label text-left"> Notes:</label>
                                                    <div class="col-md-9"> 
                                                        <textarea class="form-control" ng-model="SysConfigApproval.notes" required=""></textarea>
                                                        <span class="help-block">Specify a reason for approval or rejection</span>
                                                    </div>
                                                </div>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default" href="#/Customers"><i class="fa fa-times-circle"></i> Dismiss</a>
                                                    <button class="btn btn-secondary" has-permission="APPROVE_USERS" ng-click="approveSysConfig()"><i class="glyphicon glyphicon-send"></i> Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </div>  
    </div>
    <!-- END PAGE CONTENT WRAPPER -->     
    
    <div class="modal-dlg fade in" style="display: block;" ng-show="ShowChange">  
        <div class="modal-form">
            <div class="modal-header">
                <h3 class="modal-title"><span class="fa fa-recycle"></span> Changes Pending Approval</h3>
                <ul class="panel-controls">
                    <li><a href="" ng-click="ShowChange = !ShowChange" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="modal-body"> 
                <div class="row"> 
                    <table class="table datatable table-bordered table-condensed table-striped" col-resizeable>
                        <thead>
                            <tr>
                                <!--<th class="sorting col-centered">No</th>-->
                                <th class="sorting col-left">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr>
                                <!--<td>{{$index + 1}}</td>-->
                                <td>{{change}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    </div>
</section>