<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section >
    <div class="main-agileinfo slider login-body">
        <div class="items-group">
            <div class="item agileits-w3layouts">
                <div class="login-block text main-agileits" style="background: #C49F06;"> 
                    <span class="circleLight"></span> 
                    <!-- login form -->
                    <div class="login-form loginw3-agile"> 
                        <div class="agile-row">
                            <div class="login-title"><strong>Change Password</strong> to proceed</div>
                            <div class="login-agileits-top"> 
                                <form class="form-horizontal" name="ChangePasswordForm" ng-submit="changePassword()" autocomplete="off">
                                    <div class="alert alert-info" role="alert">
                                        <strong> Note: </strong> The New Password should have at least {{PasswordPolicy.length}} alphanumeric characters, {{PasswordPolicy.characters}} letter(s), {{PasswordPolicy.numeric}} number(s), {{PasswordPolicy.lowerCase}} lowercase character(s), {{PasswordPolicy.specialChar}} special character and {{PasswordPolicy.upperCase}} uppercase character(s).
                                    </div>
                                    <div class="alert alert-danger" role="alert" ng-show="showErrorMsg">
                                        <button type="button" class="close" data-dismiss="alert" ng-click="showErrorMsg = !showErrorMsg"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <strong> Error! </strong>{{ErrorMsg}}
                                    </div>
                                    <div class="alert alert-info" role="alert" ng-show="showLoginSuccessMsg">
                                        <button type="button" class="close" data-dismiss="alert" ng-click="showLoginSuccessMsg = !showLoginSuccessMsg"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <strong>Success! </strong>{{loginSuccessMsg}}
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Username</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="email" name="username" class="form-control" placeholder={{username}} ng-model="vm.username" ng-paste="$event.preventDefault();" autofocus readOnly=""  autocomplete="off"/>
                                            </div>                                                
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Current Password</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                                <input type="password" name="currentpassword" class="form-control" placeholder="Enter current password" ng-model="vm.currentpassword" ng-required="true" ng-paste="$event.preventDefault();" autofocus  autocomplete="off"/>
                                            </div>                                                
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>New Password</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                                <input type="password" name="newpassword" id="newpassword" class="form-control" placeholder="Enter new password" ng-model="vm.newpassword" ng-required="true" ng-paste="$event.preventDefault();" autofocus  autocomplete="off"/>
                                            </div>                                                
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Confirm Password</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                                <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Confirm new password" ng-model="vm.confirmpassword" ng-required="true" ng-paste="$event.preventDefault();"  autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-6 btn-group">
                                            <button type="submit" class="btn btn-primary btn-block btn-sm" ng-click=""><i class="fa fa-sign-in"> Submit </i></button>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                        </div>  
                    </div> 
                </div>
                <div class="w3lsfooteragileits">
                    <p> &copy;2017 Cash Collection System [v{{AppVersion}}] | All Rights Reserved | <a href="http://tracom.co.ke" target="=_blank">Tracom Services Ltd</a></p>
                </div> 
            </div>   
        </div>
    </div>	 
</section>

