<section class="content" >       
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="">Customer Onboarding</li>
        <li class="active">List Customers</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                    <div class="panel-x tab-contentx" ng-if="!ShowCustomerView">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><span class="fa fa-list-ul"></span><strong> Customers List</strong></h4>
                                <!-- START DATATABLE EXPORT -->
                                <div class="btn-group pull-right">
                                    <ul class="panel-controls">
                                        <li>
                                            <div class="dataTables_psize">
                                                <label>Page Size: <select id="psize" data-ng-options="size for size in PageSizes" data-ng-model="selectedSize" class="form-control" ng-change="setPageSize(selectedSize)">
                                                    </select>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="btn-group">
                                                <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="" ng-click="DownloadReport('csv')"><img src='img/icons/csv.png' width="24"/> CSV</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="" ng-click="DownloadReport('xls')"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="" ng-click="DownloadReport('pdf')"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body"> 
                                <div id="datatable_wrapper" class="">
                                    <form class="form-horizontal" name="searchForm">
                                    <div id="cit_agent_filter" class="dataTables_filter">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="col-md-3 text-left">Search:</label>
                                                    <div class="col-md-8">   
                                                        <input class="form-control " placeholder="keyword(s)" type="search" data-ng-model="CustomerFilter.keyword">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3">Date From:</label>
                                                    <div class="col-md-8">   
                                                        <p class="input-group">
                                                            <input type="text" class="form-control text-left" uib-datepicker-popup="yyyy/MM/dd" data-ng-model="CustomerFilter.dateFrom" is-open="dateFrom.closed" datepicker-options="dateOptions" close-text="Close" />
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="dateFrom.closed = !dateFrom.closed"><i class="glyphicon glyphicon-calendar"></i></button>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="col-md-3">Category:</label>
                                                    <div class="col-md-8">   
                                                        <select data-ng-options="category.custCategoryId as category.categoryName for category in CustomerCategories" data-ng-model="CustomerFilter.custCategoryId" class="form-control">
                                                            <option value="" ng-if="!Customer.custCategoryId">Select Customer Category</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3">Date To:</label>
                                                    <div class="col-md-8">      
                                                        <p class="input-group">
                                                            <input type="text" class="form-control text-left" uib-datepicker-popup="yyyy/MM/dd" data-ng-model="CustomerFilter.dateTo" is-open="dateTo.closed" datepicker-options="dateOptions" close-text="Close" />
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="dateTo.closed = !dateTo.closed"><i class="glyphicon glyphicon-calendar"></i></button>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-4">Subscription Status:</label>
                                                    <div class="col-md-7">   
                                                        <select data-ng-options="subscriptionStatus for subscriptionStatus in ['All', 'Active', 'Inactive']" data-ng-model="CustomerFilter.subscriptionStatus" class="form-control">
                                                            <option value="" ng-if="!subscriptionStatus">Select Status</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4">Approval Status:</label>
                                                    <div class="col-md-7">   
                                                        <select data-ng-options="approvalStatus for approvalStatus in ['All', 'Approved', 'Rejected', 'Unapproved']" data-ng-model="CustomerFilter.approvalStatus" class="form-control">
                                                            <option value="" ng-if="!approvalStatus">Select Approval Status</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="btn-group pull-right">
                                                        <button class="btn btn-default" ng-click="resetCustomerFilter()"><i class="fa fa-times"></i> Reset</button>
                                                        <button class="btn btn-info" ng-click="listCustomers()"><i class="fa fa-filter"></i> Filter</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                      
                                    </div>   
                                </form>
                                    <table class="table datatable table-bordered table-condensed table-striped" col-resizeable>
                                        <thead>
                                            <tr>
                                                <th class="sorting col-centered">No</th>
                                                <th class="sorting col-md-2 col-left">Customer Category</th>
                                                <th class="sorting col-md-2">Customer Name</th>
                                                <th class="sorting">Subscription Status</th>
                                                <th class="sorting">Postal Address</th>
                                                <th class="sorting">Physical Location</th>
                                                <th class="sorting">Creation Date</th>
                                                <th class="sorting col-centered">Approval Status</th>
                                                <th class="sorting">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="PrincipalCustomer in PrincipalCustomers track by $index">
                                                <td class="col-centered">{{$index + 1}}</td>
                                                <td>{{PrincipalCustomer.category.categoryName}}</td>
                                                <td>{{PrincipalCustomer.customerName}}</td>
                                                <td>{{PrincipalCustomer.status}}</td>
                                                <td>{{PrincipalCustomer.postalAddress}}</td>
                                                <td>{{PrincipalCustomer.physicalAddress}}</td>
                                                <td>{{PrincipalCustomer.creationDate| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td class="col-centered">{{PrincipalCustomer.actionStatus}}</td>
                                                <td>
                                                    <div class="btn-group pull-left">
                                                        <button class="btn btn-default btn-xs" ng-click="viewCustomer(PrincipalCustomer, false)"><i class="fa fa-search-plus"></i> View </button>
                                                        
                                                        <!--<button has-permission='ONBOARD_PRINCIPAL_CUSTOMER' class="btn btn-default btn-xs" ng-click="viewCustomer(PrincipalCustomer, true)"><i class="fa fa-pencil"></i> Edit </button>-->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-include src="'templates/table-footer.html'"></div>    
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="panel-bodyx tab-contentx" ng-if="ShowCustomerView">
                        <div ng-include src="'templates/customer-view.html'" flex></div>
                    </div>
                </div>
            </div>  
        </div>
    <!-- END PAGE CONTENT WRAPPER -->    
    <div class="modal-dlg fade in" style="display: block;" ng-show="ShowLinkAcc">  
        <div class="modal-form">
            <div class="modal-header">
                <h3 class="modal-title"><span class="fa fa-plus"></span> Add New Customer Account</h3>
                <ul class="panel-controls">
                    <li><a href="" ng-click="closeAndclear()" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="modal-body"> 
                <div class="row"> 
                    <form class="form-horizontal" name="LinkAccForm">
                        <div id="cit_agent_filter" class="dataTables_filter">
                            <label class="col-md-2 control-label text-left">Account No:</label>
                            <div class="col-md-6">
                                <input class="form-control " placeholder="Enter Account Reference Number" type="text" ng-model="LinkCustAcc.search" required>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-default" ng-click="LinkCustAcc = null"><i class="fa fa-eraser"></i> Clear</button>
                                    <button class="btn btn-info" ng-click="searchAccount()"><i class="fa fa-search"></i> Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-left">Branch Name</label>
                                <div class="col-md-9">  
                                    <input type="text" ng-model="LinkCustAcc.branchName" class="form-control" name="branchText" placeholder="Branch Name" ng-readonly="true"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label text-left">Account Type</label>
                                <div class="col-md-9">
                                    <input type="text" ng-model="LinkCustAcc.accountType" class="form-control" name="accountTypeText" placeholder="Account Type" ng-readonly="true"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label text-left">Currency</label>
                                <div class="col-md-9">
                                    <input type="text" ng-model="LinkCustAcc.currency" class="form-control" name="currencyText" placeholder="Currency" ng-readonly="true">   
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-left">Account Number</label>
                                <div class="col-md-9">  
                                    <input type="text" ng-model="LinkCustAcc.accountNumber" class="form-control" name="branchText" placeholder="Account Number" ng-readonly="true"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label text-left">Account Name</label>
                                <div class="col-md-9">
                                    <input type="text" ng-model="LinkCustAcc.accountName" class="form-control" numbers-only name="accountTypeText" placeholder="Account Name" ng-readonly="true"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label text-left">Account Status</label>
                                <div class="col-md-9">
                                    <input type="text" ng-model="LinkCustAcc.accountStatus" class="form-control" numbers-only name="currencyText" placeholder="Account Status" ng-readonly="true">   
                                </div>
                            </div>
                        </div> 
                        <div class="modal-footer">                            
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" ng-click="closeAndclear()"><i class="fa fa-times-circle"></i> Close Dialog</button>
                                <button class="btn btn-secondary" ng-click="linkNewAccount()"><i class="fa fa-link"></i> Link Account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div> 
    
    <div class="modal-dlg fade in"  tabindex="-1" role="dialog" aria-hidden="true" style="display: block;" ng-show="ShowContact">  
        <div class="modal-form">
            <div class="modal-header">
                <h3 class="modal-title"><span class="fa fa-user"><span class="fa fa-plus"></span></span> Add New Contact</h3>
                <ul class="panel-controls">
                    <li><a href="" ng-click="closeAndclear()" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="modal-body"> 
                <div class="row"> 
                    <form class="form-horizontal" name="OutletContactForm">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Contact Name</label>
                                <div class="col-md-5"> 
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" ng-model="CustomerContact.fullName" class="form-control" name="contactText" placeholder="Contact Name" required> 
                                    </div>
                                    <span class="help-block">Contact Full Name</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Phone Number</label>
                                <div class="col-md-5">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                        <input type="text" ng-model="CustomerContact.msisdn" class="form-control" name="msisdnText" placeholder="Phone number" numbers-Only required> 
                                    </div>
                                    <span class="help-block">Contact Phone Number (National format e.g. 07xxxxxxxx)</span>
                                </div>
                            </div>   
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Email Address</label>
                                <div class="col-md-5">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                        <input type="email" ng-model="CustomerContact.emailAddress" class="form-control" name="emailAddressText" placeholder="Email Address" required> 
                                    </div>
                                    <span class="help-block">Contact Email Address</span>
                                </div>
                            </div>  
                             
                        <div class="modal-footer">                            
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" ng-click="closeAndclear()"><i class="fa fa-times-circle"></i> Close Dialog</button>
                                <button class="btn btn-secondary" ng-click="addContact()"><i class="fa fa-check-square-o"></i> Save Contact</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div> 
    
    
    
</section>