<section>
    <div class="main-agileinfo slider login-body">
            <div class="items-group">
                <div class="item agileits-w3layouts">
                    <div class="login-block text main-agileits" style="background: #C49F06;"> 
                        <span class="circleLight"></span> 
                        <!-- login form -->
                        <div class="login-form loginw3-agile"> 
                            <div class="agile-row">
                                <div class="login-title"><small><strong>Dear user,</strong><br/>Please enter email address to reset your password.</small></div>
                                <div class="alert alert-danger" role="alert" ng-show="showLoginErrorMsg">
                                    <button type="button" class="close" data-dismiss="alert" ng-click="showLoginErrorMsg = !showLoginErrorMsg"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <strong>Error! </strong>{{loginErrorMsg}}
                                </div>
                                <div class="login-agileits-top"> 	
                                    <form class="form-horizontal" name="ForgotPasswordForm">
                                         <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Email Address</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                                    <input type="email" class="form-control" placeholder="you@yourcompany.com"  ng-model="vm.email" required/>
                                                </div>                                                
                                                <span class="help-block">This is your email address same as your login username</span>
                                            </div>                                            
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"> 
                                                <a href="#/login" class="btn-link" style="color:#ffffff;"><span class="fa fa-chevron-left"></span> Back to Login</a>
                                            </div>
                                            <div class="col-md-6 btn-group">
                                                <button class="btn btn-danger btn-block btn-sm" ng-click="resetPassword()"><i class="fa fa-repeat"> Reset Password </i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div> 
                            </div>  
                        </div> 
                    </div>
                    <div class="w3lsfooteragileits">
                        <p> &copy;2017 Cash Collection System [v{{AppVersion}}] | All Rights Reserved | <a href="http://tracom.co.ke" target="=_blank">Tracom Services Ltd</a></p>
                    </div> 
                </div>   
            </div>
        </div>	 
</section>
