<section class="content">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb push-down-0">
        <li><a href="#">Home</a></li>
        <li class="active">Error</li>
    </ul>
    <!-- END BREADCRUMB -->                                                

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="error-container">
                    <div class="error-code">403</div>
                    <div class="error-text">Unauthorized Access</div>
                    <div class="error-subtext">Sorry! You are not authorized to access that page.</div>
                    <div class="error-actions">                                
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-info btn-block btn-lg" href="#/">Back to dashboard</a>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block btn-lg" onClick="history.back();">Previous page</button>
                            </div>
                        </div>                                
                    </div>
                </div>
            </div>
        </div>
    </div>                
    <!-- END PAGE CONTENT WRAPPER --> 
</section>