<section class="content"> 
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li> 
        <li>System Configuration</li>                    
        <li class="active">Password Policy</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" name="PasswordPolicyForm">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-unlock-alt"></span> Password Policy Management</h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body"> 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">Alphabetical Characters</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="text" ng-model="PasswordPolicy.characters" class="form-control" numbers-only name="charactersText" placeholder="Enter no. of characters" ng-readonly="!editMode">
                                            </div>
                                            <span class="help-block">Minimum number of alphabetical letters required</span>
                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">Uppercase Characters</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="text" ng-model="PasswordPolicy.upperCase" class="form-control" numbers-only name="upperCaseText" placeholder="Enter no. of UPPERCASE characters" ng-readonly="!editMode">
                                            </div>
                                            <span class="help-block">Minimum number of UPPERCASE characters</span>
                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">Lowercase Characters</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="text" ng-model="PasswordPolicy.lowerCase" class="form-control" numbers-only name="upperCaseText" placeholder="Enter no. of lower characters" ng-readonly="!editMode">
                                            </div>
                                            <span class="help-block">Minimum number of lower characters</span>
                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">Numeric Characters</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="text" ng-model="PasswordPolicy.numeric" class="form-control" numbers-only name="numericText" placeholder="Enter no. of numeric characters" ng-readonly="!editMode">
                                            </div>
                                            <span class="help-block">Minimum number of numeric characters required</span>
                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">Special Characters</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="text" ng-model="PasswordPolicy.specialChar" class="form-control" numbers-only name="specialText" placeholder="Enter no. of special characters" ng-readonly="!editMode">
                                            </div>
                                            <span class="help-block">Minimum number of special characters required</span>
                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">Password Length</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="text" ng-model="PasswordPolicy.length" class="form-control" numbers-only name="lengthText" placeholder="Enter password length" ng-readonly="!editMode">
                                            </div>
                                            <span class="help-block">Minimum password length</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">Password Attempts</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="text" ng-model="PasswordPolicy.attempts" class="form-control" numbers-only name="attemptsText" placeholder="Enter password attempts" ng-readonly="!editMode">
                                            </div>
                                            <span class="help-block">Maximum number of wrong password attempts</span>
                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">Password Re-Use</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="text" ng-model="PasswordPolicy.reuseCount" class="form-control" numbers-only name="reuseText" placeholder="Enter password reuse count" ng-readonly="!editMode">
                                            </div>
                                            <span class="help-block">Minimum number of password changes before recycle</span>
                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">Password Expiry</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="number"  maxlength="11" ng-model="PasswordPolicy.expiry" ng-change="passwordExpiryChange()" class="form-control" min="1" max="315400000" name="expiryText" placeholder="Enter number of days for password expiry" ng-readonly="!editMode"/>
                                            </div>
                                            <span class="help-block">In Seconds (Currently set to {{passExpiryHelper}} Day(s)).</span>
                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">OTP Expiry</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="number" maxlength="11" ng-model="PasswordPolicy.otpExpiry" ng-change="otpExpiryChange()" class="form-control" min="1" max="315400000"  name="otpexpiryText" placeholder="Enter number of minutes for OTP expiry" ng-readonly="!editMode"/>
                                            </div>
                                            <span class="help-block">In Seconds (Currently set to {{otpExpiryHelper}} Minute(s)).</span>
                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <label class="col-md-3 control-label text-left">OTP Attempt</label>
                                        <div class="col-md-7">                                            
                                            <div class="has-feedback">
                                                <input type="text" ng-model="PasswordPolicy.otpAttempts" class="form-control" numbers-only name="otpattemptsText" placeholder="Enter Maximum number of wrong OTP attempts" ng-readonly="!editMode">
                                            </div>
                                            <span class="help-block">Maximum number of wrong OTP attempts</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div ng-if="!editMode" class="form-group pull-right">
                                    <div class="col-md-12">                                                                                                                                                                                                               
                                        <div class="btn-group">
                                            <!--<a class="btn btn-default" href="#"><i class="fa fa-times-circle"></i> Close</a>-->   
                                            <button has-permission='UPDATE_PASSWORD_POLICY' class="btn btn-secondary" ng-click="editPasswordPolicy()"><i class="fa fa-pencil"></i> Edit Policy</button>
                                        </div>      
                                    </div>
                                </div>
                                <div class="btn-group pull-right">
                                    <a ng-if="editMode" class="btn btn-default" href="#"><i class="fa fa-times-circle"></i> Close</a>   
                                    <button ng-if="editMode" has-permission='UPDATE_PASSWORD_POLICY' class="btn btn-info" data-toggle="dropdown" ng-click="savePasswordPolicy()"><i class="glyphicon glyphicon-saved"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                                
</section>