<section class="content">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Password Change</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <form class="" name="PasswordChangeForm">
            <div class="panel panel-colorful">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-unlock-alt"></span><strong> Password Management</strong> - Change Password</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h2>Password Change</h2>
                                    <p>Please fill in the following fields to change your password.</p>
                                    <div class="form-group">
                                        <label>Email address | Login</label>
                                        <input type="email" class="form-control" ng-value="'oderavick@gmail.com'" placeholder="Enter Email Address" readonly="">
                                    </div>
                                    <div class="form-group">
                                        <label>Current Password</label>
                                        <input type="password" class="form-control" ng-model="PasswordChange.currentPassword" placeholder="Enter Current Password" ng-paste="$event.preventDefault();" required>
                                    </div>
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control" ng-model="PasswordChange.newPassword" placeholder="Enter New Password" ng-paste="$event.preventDefault();" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm New Password</label>
                                        <input type="password" class="form-control" ng-model="PasswordChange.confirmPassword" placeholder="Confirm new password" ng-paste="$event.preventDefault();" required>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-default" href="#"><i class="fa fa-times-circle"></i> Cancel</a>
                                        <button type="submit" class="btn btn-secondary" data-toggle="dropdown" ng-click="changePassword()"><i class="fa fa-check-square-o"></i> Change Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</section>
