<div class="tab-content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-user"></span><strong> Pre-Qualification Documents</strong></h4>
            <ul class="panel-controls">
                <li><a ng-click="switchTab('Main')" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <div class="panel-body">
            <form name="UserViewForm.createUser" class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Certificate of Incorporation</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" required>
                                </div>
                                <span class="help-block">System User Type</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">KRA Pin Certificate</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" required>
                                    </div>
                                <span class="help-block">PIN Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Tax Compliance Certificate</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" required>
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Business Permit</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" required>
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">CR12 Certificate</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" required>
                                </div>
                                <span class="help-block">PIN Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Certificate of Accreditation</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" required>
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Regulatory Permit Certificate</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" required>
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Certificate of Quality</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Bank Statements</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Bank Reference Letters</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Company/Business Profile</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Existing Contracts</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Recommendation Letters from Clients</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Business Contacts and Location</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Previous Clients</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Directors' ID</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Audited Financial Reports</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Affiliated Professional Membership</label>
                            <div class="col-md-7">
                                <div class="input-group has-feedback">
                                    <input type="file" id="myfile" name="myfile" >
                                </div>
                                <span class="help-block">Certificate</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="panel-footer">
                        <div class="btn-group pull-right">
                            <button class="btn btn-secondary" ng-click="next()"><i class="fa fa-check-square-o"></i> NEXT</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>



<div class="modal-dlg fade in"  tabindex="-1" role="dialog" aria-hidden="true" style="display: block;" ng-show="TenderApplication">
    <div class="modal-form">
        <div class="modal-header">
            <h3 class="modal-title"><span class="fa fa-map-marker"></span> Tender Appliation</h3>
            <ul class="panel-controls">
                <li><a href="" ng-click="TenderApplication = !TenderApplication" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><span class="fa fa-user"></span><strong> Tender Documents</strong></h4>
                </div>
                <div class="panel-body">
                    <form name="TenderView" class="form-horizontal">
                        <table class="table datatable table-bordered table-condensed table-striped" col-resizeable>
                            <thead>
                            <tr>
                                <th class="sorting">Title</th>
                                <th class="sorting">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Completed Tender Documents</td>
                                <td>
                                    <div class="btn-group pull-left">
                                        <input type="file" id="myFile" name="filename">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="panel-footer pull-right">
                    <button class="btn btn-success" ng-click="finishApplication()"><i class="fa fa-folder-open"></i> FINISH TENDER APPLICATION </button>
                </div>
            </div>
        </div>
    </div>
</div>
