<section class="content" >       
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="">User Management</li>
        <li class="active">User Roles</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap" ng-init="RoleViewForm = {}">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-x tab-contentx" ng-if="!ShowRoleView">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><span class="fa fa-edit"></span><strong> User Role Management</strong></h4>
                            <!-- START DATATABLE EXPORT -->
                            <div class="btn-group pull-right">
                                <ul class="panel-controls">
                                    <li>
                                        <div class="dataTables_psize">
                                            <label>Page Size: <select id="psize" data-ng-options="size for size in PageSizes" data-ng-model="selectedSize" class="form-control" ng-change="setPageSize(selectedSize)">
                                                </select>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="btn-group">
                                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" ng-click="exportRoles('csv')" ><img src='img/icons/csv.png' width="24"/> CSV</a></li>
                                                <li class="divider"></li>
                                                <li><a href="" ng-click="exportRoles('xls')" ><img src='img/icons/xls.png' width="24"/> XLS</a></li>
                                                <li class="divider"></li>
                                                <li><a href="" ng-click="exportRoles('pdf')" ><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body"> 
                            <div id="datatable_wrapper" class="">
                                <div class="form-group col-md-12" >
                                    <div class="pull-right btn-group">
                                        <button has-permission='CREATE_USER_ROLES' type="button" class="btn btn-secondary" ng-click="viewUserRole({}, true)"><i class="fa fa-plus"></i>New Role</button>
                                    </div>
                                </div>
                                <form class="form-horizontal" name="searchForm">
                                    <div id="cit_agent_filter" class="dataTables_filter">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="col-md-3 text-left">Search:</label>
                                                    <div class="col-md-8">   
                                                        <input class="form-control " placeholder="keyword(s)" type="search" data-ng-model="RoleFilter.keyword">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-4">Approval Status:</label>
                                                    <div class="col-md-7">   
                                                        <select data-ng-options="approvalStatus for approvalStatus in ['All', 'Approved', 'Rejected', 'Unapproved']" data-ng-model="RoleFilter.approvalStatus" class="form-control">
                                                            <option value="" ng-if="!approvalStatus">Select Approval Status</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="btn-group pull-right">
                                                        <button class="btn btn-default" ng-click="resetUsersRoleFilter()"><i class="fa fa-times"></i> Reset</button>
                                                        <button class="btn btn-info" ng-click="listUserRoles()"><i class="fa fa-filter"></i> Filter</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                      
                                    </div>   
                                </form>
                                <table class="table datatable table-bordered table-condensed table-striped" col-resizeable>
                                    <thead>
                                        <tr>
                                            <th class="sorting col-centered">No</th>
                                            <th class="sorting">Role Name</th>
                                            <th class="sorting">Role Description</th>
                                            <th class="sorting">Date Assigned</th>
                                            <th class="sorting">Approval Status</th>
                                            <th class="sorting">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="UserRole in UserRoles track by $index">
                                            <td>{{$index + 1}}</td>
                                            <td>{{UserRole.roleName}}</td>
                                            <td>{{UserRole.description}}</td>
                                            <td>{{UserRole.creationDate| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                            <td>{{UserRole.actionStatus}}</td>
                                            <td>
                                                <div class="btn-group pull-left">
                                                    <button class="btn btn-default btn-xs" ng-click="viewUserRole(UserRole, false)"><i class="fa fa-search-plus"></i> View </button>
                                                    <button has-permission='UPDATE_USER_ROLES' class="btn btn-default btn-xs" ng-click="viewUserRole(UserRole, true)"><i class="fa fa-pencil"></i> Edit </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-include src="'templates/table-footer.html'"></div>    
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="panel-bodyx tab-contentx" ng-if="ShowRoleView">
                    <div ng-include src="'templates/user-role-view.html'" flex></div>
                </div>
            </div>
        </div>  
    </div>
    <!-- END PAGE CONTENT WRAPPER --> 

    <div class="modal-dlg fade in"  tabindex="-1" role="dialog" aria-hidden="true" style="display: block;" ng-show="ShowRoleApproval">  
        <div class="modal-form">
            <div class="modal-header">
                <h3 class="modal-title"><span class="fa fa-check-square-o"></span> Approve User Role</h3>
                <ul class="panel-controls">
                    <li><a href="" ng-click="closeAndclear()" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="modal-body"> 
                <form class="form-horizontal" name="ApproveUserRoleForm">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left"> Action:</label>
                                <div class="col-md-9">
                                    <div class="col-md-3">
                                        <label class="check"><input type="radio" class="iradio" ng-model="UserRoleApproval.action" value="approved"/> Approve</label>
                                    </div>
                                    <div class="col-md-3">        
                                        <label class="check"><input type="radio" class="iradio" ng-model="UserRoleApproval.action" value="rejected"/> Reject</label>
                                    </div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left"> Notes:</label>
                                <div class="col-md-9"> 
                                    <textarea class="form-control" ng-model="UserRoleApproval.notes" required=""></textarea>
                                    <span class="help-block">Specify a reason for approval or rejection</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">                            
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default" ng-click="closeAndclear()"><i class="fa fa-times-circle"></i> Close Dialog</button>
                            <button class="btn btn-secondary" ng-click="approveUserRole(true)"><i class="glyphicon glyphicon-send"></i> Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
    </div> 
    
    <div class="modal-dlg fade in"  tabindex="-1" role="dialog" aria-hidden="true" style="display: block;" ng-show="UserRoleForm">  
        <div class="modal-form">
            <div class="modal-header">
                <h3 class="modal-title"><span class="fa fa-map-marker"></span> Region</h3>
                <ul class="panel-controls">
                    <li><a href="" ng-click="UserRoleForm = !UserRoleForm" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="modal-body"> 
                <div class="row"> 
                    <form class="form-horizontal" name="DeleteUserForm">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Note</label>
                                <div class="col-md-5">
                                    <div class="has-feedback">
                                        <textarea ng-model="UserRol.notes" class="form-control" name="message" placeholder="Enter note" required=""> </textarea>
                                    </div>
                                    <span class="help-block">Note Description</span>
                                </div>
                            </div>  
                        </div> 
                        <div class="modal-footer">                            
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" ng-click="UserRoleForm = !UserRoleForm"><i class="fa fa-times-circle"></i> Close Dialog</button>
                                <button class="btn btn-danger" ng-click="deleteUserRoles()"><i class="fa fa-trash-o"></i> Delete User Role</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
</section>