<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="bySecond" datePattern="yyyy'-'MM'-'dd'T'HH:mm:ss"/>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/gab-admin/gab-admin.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/gab-admin/gab-admin-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 20MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>20MB</maxFileSize>    
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n 
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender> 
    <root level="TRACE">
        <appender-ref ref="consoleAppender"/>
    </root>
    <root level="INFO">
        <appender-ref ref="ROLLING" />
    </root>
</configuration>